@font-face {
  font-family: "OpenSans-Medium";
  src: url("../../assets/fonts/Open_Sans/OpenSans-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
  }

@font-face {
    font-family: "InclusiveSans_Regular";
    src: url("../../assets/fonts/Inclusive_Sans/InclusiveSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../../assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
}

@import "~@fortawesome/fontawesome-free/css/all.css";

.box-weather {
    top: 0px;
    left: 100px;
    height: 300px;
    width: 400px;
    position: relative;
    padding: 20px;
    background: linear-gradient(to top, #006cc5, rgb(0, 2, 124));
    margin: 20px;
    text-align: justify;
    line-height: 1.5;
    border-radius: 0 50px 50px 0;
}

.text{
    font-family: "Montserrat-SemiBold", sans-serif;
    color: white;
    font-size: 40px;
    padding-left: 20px;
}

.text-location {
    font-family: "OpenSans-SemiBold", sans-serif;
    color: white;
    font-size: 15px;
    padding-left: 20px;
}

.cityInput{
    color: black;
}

.get-weather-information{
    background-color: #3498db; /* Cambia el color de fondo según tus preferencias */
    color: #ffffff;
}

.icon-weather{
    position: absolute;
    top: 15px;
    right: 25px;
    text-align: right;
}

.temperature{
    position: absolute;
    top: 240px;
    right: 25px;
    text-align: right;
}

.text-temperature{
    font-family: "Montserrat-SemiBold", sans-serif;
    color: white;
    font-size: 60px;
    padding-left: 20px;
}

.icon-sunny{
    fill: white;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -100px;
    right: 0px;
}

.text-weather{
    position: absolute;
    top: 250px;
    right: 265px;
    font-family: "OpenSans-SemiBold", sans-serif;
    color: white;
    font-size: 10px;
    padding-left: 20px;
}

