<div class="box-sun">
  <div class="color-circle">
    <div class="sun">
      <div class="ray ray-one"></div>
      <div class="ray ray-two"></div>
      <div class="ray ray-three"></div>
      <div class="ray ray-four"></div>
      <div class="ray ray-five"></div>
      <div class="ray ray-six"></div>
      <div class="ray ray-seven"></div>
      <div class="ray ray-eight"></div>
      <div class="ray ray-nine"></div>
      <div class="ray ray-teen"></div>
      <div class="ray ray-eleven"></div>
      <div class="ray ray-twelve"></div>
    </div>
  </div>
</div>