@media screen and (min-width: 1100px) {
    .color-circle{
        width: 200px;
        height: 200px;
    }

    .sun{
        width: 200px;
        height: 200px;
    }

    .ray{
        width: 30px;
        height: 50px;
    }
}

@media screen and (max-width: 1100px) {
    .box-sun {
        transform: translateX(-320%) translateY(-95%) scale(60%);
    }

    .color-circle{
        width: 200px;
        height: 200px;
    }

    .sun{
        width: 200px;
        height: 200px;
    }

    .ray{
        width: 30px;
        height: 50px;
    }

}

@media screen and (max-width: 600px) {

    .box-sun {
        transform: translateX(-320%) translateY(-95%) scale(60%);
    }

    .color-circle{
        width: 200px;
        height: 200px;
    }

    .sun{
        width: 200px;
        height: 200px;
    }

    .ray{
        width: 30px;
        height: 50px;
    }


}

.box-sun {
    position: relative;
    bottom: 0px;
    left: -250px;
    z-index: -2;
}

.color-circle {
    position: relative;
    background: linear-gradient(to top, orange, yellow);
    border-radius: 50%;
    margin-right: 30%;
    left: 0px;
    z-index: 1;
}

.sun {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 30%;
    left: 0px;
    animation: rotateSun 10s linear infinite;
    z-index: -1;
}

@keyframes rotateSun {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.ray {
    position: absolute;
    border-left: 12.5px solid transparent;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    bottom: 215px;
    left: 75px;
}

.ray-one {
    background-color: rgb(255, 238, 0);
    border-bottom: 43.5px solid rgb(255, 238, 0);
}

.ray-two {
    background-color: rgb(255, 238, 0);
    border-bottom: 43.5px solid rgb(255, 238, 0);
    transform: rotate(30deg);
    bottom: 193px;
    left: 160px;
}

.ray-three {
    background-color: rgb(255, 238, 0);
    border-bottom: 43.5px solid rgb(255, 238, 0);
    transform: rotate(60deg);
    bottom: 133px;
    left: 223px;
}

.ray-four {
    background-color: rgb(255, 238, 0);
    border-bottom: 43.5px solid rgb(255, 238, 0);
    transform: rotate(90deg);
    bottom: 50px;
    left: 240px;
}

.ray-five {
    background-color: rgb(255, 238, 0);
    border-bottom: 43.5px solid rgb(255, 238, 0);
    transform: rotate(120deg);
    bottom: -30px;
    left: 220px;
}

.ray-six {
    background-color: rgb(255, 238, 0);
    border-bottom: 43.5px solid rgb(255, 238, 0);
    transform: rotate(150deg);
    bottom: -90px;
    left: 155px;
}

.ray-seven {
    background-color: rgb(255, 238, 0);
    border-bottom: 43.5px solid rgb(255, 238, 0);
    transform: rotate(180deg);
    bottom: -110px;
    left: 70px;
}

.ray-eight {
    background-color: rgb(255, 238, 0);
    border-bottom: 43.5px solid rgb(255, 238, 0);
    transform: rotate(210deg);
    bottom: -85px;
    left: -5px;
}

.ray-nine {
    background-color: rgb(255, 238, 0);
    border-bottom: 43.5px solid rgb(255, 238, 0);
    transform: rotate(240deg);
    bottom: -30px;
    left: -60px;
}

.ray-teen {
    background-color: rgb(255, 238, 0);
    border-bottom: 43.5px solid rgb(255, 238, 0);
    transform: rotate(270deg);
    bottom: 50px;
    left: -80px;
}

.ray-eleven {
    background-color: rgb(255, 238, 0);
    border-bottom: 43.5px solid rgb(255, 238, 0);
    transform: rotate(300deg);
    bottom: 135px;
    left: -60px;
}

.ray-twelve {
    background-color: rgb(255, 238, 0);
    border-bottom: 43.5px solid rgb(255, 238, 0);
    transform: rotate(330deg);
    bottom: 197px;
    left: -3px;
}