@font-face {
    font-family: "OpenSans-Medium";
    src: url("../../assets/fonts/Open_Sans/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "InclusiveSans_Regular";
    src: url("../../assets/fonts/Inclusive_Sans/InclusiveSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../../assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
}

.box-flex{
    display: flex;
}

.box-weather {
    top: -130px;
    left: 100px;
    position: relative;
    padding: 20px;
    background: linear-gradient(to top, #006cc5, rgb(0, 2, 124));
    margin: 20px;
    text-align: justify;
    line-height: 1.5;
    border-radius: 0 50px 50px 0;
}

@import "~@fortawesome/fontawesome-free/css/all.css";

@media screen and (min-width: 1100px) {
    .box-weather{
        height: 50vh;
        width: 30vw;
        transform: translateY(35%);
    }

    .countryCode{
        width: 27vw;
        height: 7vh;
    }

    .cityInput{
        width: 25.8vw;
    }

    .get-weather-information{
        height: 7vh;
        width: 17vw;
    }
}

@media screen and (max-width: 1100px) {
    .box-weather{
        transform: translateY(70%);
        height: 40vh;
        width: 50vw;
    }

    .countryCode{
        width: 45vw;
        height: 3vh;
    }

    .cityInput{
        width: 43.5vw;
    }

    .get-weather-information{
        height: 10vh;
        width: 30vw;
    }
}

@media screen and (max-width: 600px) {
    .box-flex{
        align-items: flex-end;
    }

    .box-weather {
        transform: translateY(70%);
        margin-bottom: auto;
        width: 80vw;
        height: 45vh;
        left: 0.5%;
    }

    .countryCode{
        width: 74vw;
        height: 4.5vh;
    }

    .cityInput{
        width: 70vw;

    }

    .get-weather-information{
        width: 40vw;
    }

    .location-information{
        font-size: 20px;
    }

    .datetime-information{
        font-size: 15px;
    }

    .text-weather{
        font-size: 12px;
        white-space: nowrap;
    }

    .text-temperature{
        transform: translateY(-20%);
    }

    .text-weather{
        transform: translateY(-50%);
    }

}



.text {
    font-family: "Montserrat-SemiBold", sans-serif;
    color: white;
    font-size: 40px;
    padding-left: 20px;
    width: 10vw;
}

.get-weather {
    font-family: "OpenSans-SemiBold", sans-serif;
    color: white;
    font-size: 15px;
    padding-left: 20px;
}

.position-select {
    position: relative;
    top: 30px;
    right: -10px;
}

.countryCode {
    color: rgb(0, 2, 124);
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    font-family: "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.countryCode:hover {
    background-color: #e0e0e0;
}

.position-input {
    color: rgb(0, 2, 124);
    position: relative;
    top: 30px;
    right: -10px;
}

.cityInput {
    color: rgb(0, 2, 124);
    font-family: "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    transition: background-color 0.3s ease;
}

.cityInput:focus {
    color: rgb(0, 2, 124);
    background-color: #f4f4f4;
}


.get-weather-information {
    background-color: #3498db;
    color: #ffffff;
    font-family: "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    top: 30px;
    right: -75px;
    position: relative;
}

.get-weather-information:hover {
    background-color: #217dbb;
}

.icon-weather {
    position: absolute;
    top: 15px;
    right: 25px;
    text-align: right;
}

.temperature {
    position: absolute;
    top: 240px;
    right: 25px;
    text-align: right;
}

.text-temperature {
    font-family: "Montserrat-SemiBold", sans-serif;
    color: white;
    font-size: 60px;
    padding-left: 20px;
}

.icon-sunny {
    fill: white;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -100px;
    right: 0px;
}

.location-information {
    position: relative;
    top: 0px;
    right: 0px;
    font-family: "Montserrat-SemiBold", sans-serif;
    color: white;
    font-size: 25px;
    padding-left: 20px;
    display: inline-block;
}

.datetime-information {
    position: relative;
    top: 30;
    right: 0px;
    font-family: "OpenSans-SemiBold", sans-serif;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

.text-weather {
    position: relative;
    top: 100px;
    right: 0px;
    font-family: "OpenSans-SemiBold", sans-serif;
    color: white;
    font-size: 10px;
    padding-left: 20px;
}